{% comment %}
Includes:

- data
  An array of categories with an array of questions
{% endcomment %}
<div class="board">
  {% for category in include.data %}
    <div class="category">
      <div class="category-title">
        {{ category.title }}
      </div>
      {% for question in category.questions %}
        {%- capture is_disabled -%}
          {%- include is_disabled.txt category=category.title amount=question.amount -%}
        {%- endcapture -%}

        {% assign slug = category.title | append: '-' | append: question.amount | slugify %}

        <div class="category-question" data-disabled="{{ is_disabled }}">
          {% if is_disabled == 'true' %}
              &nbsp;
          {% else %}
            <a class="question-amount" href="#{{ slug }}">
              ${{ question.amount }}
            </a>
            <a class="question-prompt" id="{{ slug }}" href="#">
              {{ question.prompt }}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
