{% comment %}
Includes:

- data
  An array of categories with an array of questions
{% endcomment %}
<div class="board-title">
  {{ include.data.title }}
  {% if include.data.next %}
    <a href="{{ include.data.next }}" class="next-link">&rarr;</a>
  {% endif %}
</div>
<div class="board">
  {% for category in include.data.questions %}
    <div class="category">
      <div class="category-title">
        {{ category.title }}
      </div>
      {% for question in category.questions %}
        {%- capture is_disabled -%}
          {%- include is_disabled.txt category=category.category amount=question.amount -%}
        {%- endcapture -%}

        {% assign slug = category.category | append: '-' | append: question.amount | slugify %}

        <div class="category-question" data-disabled="{{ is_disabled }}">
          {% if is_disabled == 'true' %}
              &nbsp;
          {% else %}
            {%- capture question_target -%}
              {%- if question.daily_double -%}
                #{{ slug }}-daily-double
              {%- else if question.media -%}
                {{ question.media }}
              {%- endif -%}
            {%- endcapture -%}

            <a class="question-amount" href="#{{ slug }}" data-daily-double="{{ question.daily_double }}">
              ${{ question.amount }}
            </a>

            <a class="question-prompt question-prompt-animate" id="{{ slug }}" href="{{ question_target }}">
              {% if question.daily_double %}
                Daily Double!
              {% else %}
                {{ question.prompt }}
              {% endif %}
            </a>

            {% if question.daily_double %}
              <a class="question-prompt" id="{{ slug }}-daily-double" href="#">
                {{ question.prompt }}
              </a>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<script type="text/javascript">
  document
    .querySelectorAll('a[data-daily-double=true]')
    .forEach((a) => {
      let audio = new Audio("/assets/audio/daily-double.m4a");
      a.onclick = () => {
        audio.play();
      };
    });
</script>