<div class="contestants">
  {% for contestant in site.data.results.contestants %}
    <div class="contestant">
      {% assign score = 0 %}
      {% for attempt in contestant.attempts %}
        {% if attempt.correct %}
          {% assign score = score | plus: attempt.amount %}
        {% else %}
          {% assign score = score | minus: attempt.amount %}
        {% endif %}
      {% endfor %}


      <div class="contestant-name">{{ contestant.name }}</div>
      <div class="contestant-score">${{ score }}</div>
    </div>
  {% endfor %}
</div>
