@font-face {
  font-family: HelveticaCompressed;
  src: url(/assets/fonts/Helvetica-Compressed_22459.ttf);
}

@font-face {
  font-family: ITCKorinna;
  src: url(/assets/fonts/Korinna-Regular.otf);
}


body {
  padding: 0;
  margin: 0;
  font-family: HelveticaCompressed;
  font-size: 18pt;
  background: rgb(45, 63, 250);
}

.board-title {
  text-align: center;
  font-family: HelveticaNeue, Helvetica, sans-serif;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 50%);
  padding-top: 10px;
}

.next-link {
  text-decoration: none;
  float: right;
  display: block;
  padding-right: 20px;
  color: white;
}

.board {
  display: flex;
}

.category {
  flex-grow: 1;
}

.category-title,
.category-question {
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  padding: 20px;
}


.category-title {
  font-size: 18pt;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 50%);
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 5px;
}

.category-question {
}

.question-amount {
  color: rgb(231, 171, 106);
  font-size: 48pt;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 50%);
  text-decoration: none;
}

.question-prompt {
  /* text stuff */
  align-items: center;
  background: rgb(45, 63, 250);
  color: white;
  display: flex;
  font: 36pt ITCKorinna;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 50%);

  /* layout stuff */
  z-index: 1000;
  visibility: hidden;
  position: absolute;
  width: 10vw;
  height: 10vh;

  opacity: 0;
  transform: scale(0.125) rotateZ(0.125turn) rotateY(0) rotateX(1turn);
}

.question-prompt-animate {
  /* animation stuff */
  transition: opacity 0.5s,
              transform 1s;
}

.question-prompt:target {
  visibility: visible;
  opacity: 100;
  top: 0;
  left: 0;
  width: 90vw;
  height: 90vh;
  padding: 5vh 5vw;

  transform: scale(1) rotateZ(0) rotateY(0) rotateX(0);
}

.contestants {
  display: flex;
  padding: 20px;
}

.contestant {
  flex-grow: 1;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 50%);
}

.contestant-name {
  font-family: HelveticaNeue, Helvetica, sans-serif;
}

.contestant-score {
  font-size: 36pt;
}